/* @media (max-width: 1366px) {
    header .navbar-expand-lg .navbar-nav .nav-link , header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item{ font-size: 22px;}
    .banner .banner-wrap .banner-content .heading  {}
    .heading { font-size: 42px;}
    .banner .banner-wrap .banner-content p { font-size: 28px; }
    .banner .banner-wrap .banner-content ul li { font-size: 30px;}
    .banner .banner-wrap .banner-content .btn { font-size: 26px;}
    .cards .card-heading { font-size: 28px;}
    .cards p { font-size: 18px; line-height: 18px;}
    .go-digital .info-card h3 { font-size: 38px; line-height: 40px; }
    .go-digital .info-card p { font-size: 24px; line-height: 24px;}

    .feature-box img { width: 100px; }
    .feature-text { font-size: 30px; font-weight: 600; }

    .pricing-card h3  { font-size: 24px; line-height: 24px;}
    .pricing-card .price sub  { font-size: 14px;}
    .pricing-card .old-price  { font-size: 38px; line-height: 38px;}
    .pricing-card .card-content ul li { font-size: 18px;}

    .faq .faq-item .card-body ,.faq .faq-item .btn-link { font-size: 20px;}

    .main-foot .contact-info { margin-left: 50px;}
    .contact-info img { width: 30px; left: -50px;}
    .footer p, .footer a { font-size: 18px;}

} */
@media (max-width: 1024px) {
    .banner .banner-wrap .banner-content .heading { font-size: 55px; line-height: 55px;}
    .heading { font-size: 32px;} 
}
@media (max-width: 991px) {
    #navbarSupportedContent  { position: absolute; top: 100%; left: 0;background-color: #002169; width: 100%; z-index: 11;}
    header .navbar-expand-lg .navbar-nav .nav-link, header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item { color: #fff;}
    #navbarSupportedContent .navbar-nav { max-width: 300px; margin-right: auto; margin-left: 0 !important;}
    header .navbar-expand-lg .navbar-nav .nav-item { padding: 10px;}
    header .navbar-expand-lg .navbar-nav .dropdown-menu { border: 0px; }
    .banner .banner-wrap .banner-content { width: 100%;}
    .banner .banner-wrap  { flex-direction: column; padding: 50px 0;}
    .banner .banner-wrap .banner-content .heading { font-size: 40px; line-height: 40px;}
    .banner .banner-wrap .banner-content p { font-size: 20px; line-height: normal;}
    .banner .banner-wrap .banner-content ul li { font-size: 24px; line-height: normal;}
    .banner .banner-wrap .banner-content ul li::before { top: 10px;}
    .banner .banner-wrap .banner-img { width: 80%; padding-top: 20px; margin: 0 auto;}
    .heading { font-size: 36px;} 
    .cards .card-heading { font-size: 20px;}
    .how-web-works , .demo-samples , .Website-Features , .go-digital , .why-miniweb , .pricing , .textimonial , .franchise , .faq{ padding: 50px 0;}
    .cards p {  font-size: 16px;}
    .WebsiteFeatures .cards .card-heading { font-size: 20px;}
    .WebsiteFeatures .cards { padding: 20px; max-width: calc( 100% / 3 - 15px); flex-basis: calc( 100% / 3 - 15px);}
    .go-digital .info-card { max-width: 100%;}
    .go-digital .info-card h3 { font-size: 24px; margin: 15px auto;}
    .go-digital .info-card p { font-size: 20px; line-height: 22px;}
    .feature-text { font-size: 24px;}
    .pricing-card .btn-plan { padding: 5px; font-size: 24px;}
    .pricing-card .price { font-size: 26px; line-height: normal;}
    .pricing-card .card {  height: 300px;}
    .franchise-text h2 { font-size: 36px;}
    .faq .faq-container { max-width: 100%;}

    .features-container { grid-template-columns:none; gap: 20px; width: 90%;}
    .features-container .feature-box { margin: 0;}
    .features-container .feature-box:nth-child(3), .features-container .feature-box:nth-child(4) { margin: 0;}
    .features-container .feature-box:nth-of-type(odd) { margin-left: 12%;}
    .features-container .feature-box:nth-of-type(even) { margin-right: 12%;}
    .WebsiteFeatures .cards { max-width: 90%; flex-basis: 90%; margin: 0 auto;}
    .WebsiteFeatures .cards .card-heading { text-align: center;}



}
@media (max-width: 768px) {
    header { height: 100px;}
    .navbar-brand { width: 155px;}
    header .navbar-toggler , header .navbar-toggler:focus{ border: 0px; box-shadow: none;}
    header #navbarNav ul li { margin: 10px;}
    header .navbar-collapse { position: fixed; left: 0; background-color: #002169; top: 100px; width: 100%;}
    header .navbar-nav .nav-link , header .navbar-nav .nav-link.active, header .navbar-nav .nav-link.show { color: #fff;}
    header .navbar-nav { align-items: baseline;}
    header .navbar-nav .dropdown-menu { background-color: transparent; border: 0px;}
    header .navbar-nav .dropdown-menu .dropdown-item { color: #fff;}
    header .navbar-nav .dropdown-item:focus, header .navbar-nav .dropdown-item:hover { background-color: transparent;}
    header .navbar-expand-lg .navbar-nav .nav-link.btn { width: 150px;}
    .heading { font-size: 28px;}
    section .heading::before{ bottom: -10px;}
    .footer .footer-logo { width: auto; text-align: center;} 
    .main-foot .row { flex-direction: column-reverse;}
    .main-foot .contact-form { margin-bottom: 50px;}
    .main-foot .contact-form .col-6  { flex:0 0 100%; max-width: 100%;}
    .copyright .footer-bottom { flex-direction: column;}
    .how-web-works .web-works .web-works-card { flex-wrap: wrap;}
    .web-works-card .cards { width: 100%; padding: 20px; }
    .banner .banner-wrap .banner-content .heading { font-size: 30px; line-height: 30px;}
    .banner .banner-wrap .banner-content .heading span { font-size: 36px; line-height: normal;}
    .banner .banner-wrap .banner-content p { font-size: 18px; line-height: 22px;}
    .banner .banner-wrap .banner-content ul { margin: 0 auto;}
    .banner .banner-wrap .banner-content ul li { font-size: 20px; line-height: 26px;}
    .banner .banner-wrap .banner-content .btn { font-size: 18px; margin-top: 10px;}
    .banner .banner-wrap .banner-content ul li::before { top: 3px;}
    .WebsiteFeatures { width: 90%;}
    .go-digital .info-card>div { padding: 0 4px;}
    .go-digital .info-card { padding:20px 10px;}
    .go-digital .info-card h3{ font-size: 21px; line-height: 22px; margin: 0;}
    .go-digital .info-card p { font-size: 14px; line-height: 18px;}
    .go-digital .info-card img { margin: 0;}
    .testimonial-card {width: 100%; margin: 100px 0 0 0 ;}
    .testimonial-carousel .owl-item:first-child .testimonial-card { border-top-left-radius: 50px; border-bottom-left-radius: 50px;}
    .testimonial-carousel .owl-item:last-child .testimonial-card { border-top-right-radius: 50px; border-bottom-right-radius: 50px;}
    .testimonial-card:nth-child(1) { border-radius: 20px;}
    .testimonial-card {border-radius: 20px}
    .franchise-img { max-width: 250px;}
    .franchise-text { max-width: 100%; margin-top: 50px; margin-left: 0; margin-right: auto; text-align: center;}
    .footer .container { width: 80%;}
    .contact-section { width: 100%;}
    
    .login-container .heading { font-size: 26px;}    
    .login-container { padding: 40px 20px; width: 80%;}

}
@media (max-width: 520px) {
    .go-digital .info-card img { width: 40%;}
}