<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS / Windows hosting: Apache .htaccess is IGNORED unless you proxy to Apache.
  Install IIS URL Rewrite (https://www.iis.net/downloads/microsoft/url-rewrite).
  Paths like /docs/welcome are rewritten to index.php?slug=welcome relative to /docs/.
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="DocumentationSlugToIndex" stopProcessing="true">
          <match url="^([A-Za-z0-9][A-Za-z0-9_-]*)/?$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?slug={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
